
:root {
  background-color: rgba(1, 1, 11, 0.897);
  color: rgba(255, 255, 255, 0.699);
}

.home {
  display: flex;
  flex-direction: column;
  height: 80%;
}


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  height: 3em;
}

.navbar-link {
  color: rgba(255, 255, 255, 0.699);
  text-shadow: 2px 2px .5px #000000;
  text-decoration: none;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 650;
  
}

#resume {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.699);
  width: 6em;
  height: 2.7em;
  text-align: center;
  border-radius: 0.75em;
}

.resume-link {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 650;
}

.resume-link:hover {
  color: white;
  text-shadow: 2px 2px .5px #000000;
}

.navbar-link:hover{
  color: white;
}

header {
  text-shadow: 2px 2px .1px #000000;
  text-align: center;
  margin: 2vh;
}

.dd {
  color: rgba(255, 255, 255, 0.699);
  font-size: 5em;
  margin-top: .8em;
  
}

.sub-header {
  font-size: 3.2em;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  color: rgba(255, 255, 255, 0.699);
  text-shadow: 2px 2px .5px #000000;
  text-decoration: none;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 650;
  margin-top: 4vh;
}


#created {
  font-size: 1em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.699);
  text-shadow: 1px 2px .1px #000000;
  text-align: center;
}

.page-header {
  font-size: 3em;
  margin-top: .5em;
}

.skills-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 4vh;
}


.logos {
  height: 12vh;
  width: 12vh;
  border: 1px solid black;
  box-shadow: 3px 3px .1px #000000;
  border-radius: 0.25em;
  margin: 8px;
}

.project-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.project-imgs-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5vh;
}

.projects {
  height: 22em;
  width: 40em;
  margin: 2vh;
  border: solid black 2px;
  box-shadow: 3px 3px .1px #000000;
  border-radius: 0.25em;
}

.projects:hover {
  border: solid 2px rgba(255, 255, 255, 0.699);
}

.project-names {
  margin-top: 1em;
  margin-bottom: .3em;
  font-size: 2.4em;
}

.project-github {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.699);
  width: 11em;
  height: 1.5em;
  text-align: center;
  border-radius: 1em;
}

.github-link {
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: 650;
  text-shadow: none;
}

.github-link:hover {
  color: white;
  text-shadow: 1px 1px .5px #000000;
}

.created-with {
  font-size: 2.4vh;
  text-shadow: 1px 1px .5px #000000;
  font-weight: 600;
  margin-top: .01em;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.699);
  font-size: 3vh;
  font-weight: 550;
  width: 60%;
}

#email {
  margin: 2vh;
  color: rrgba(119, 204, 207, 0.867);
  font-size: 3.5vh;
}

#linkedin {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.699);
  font-weight: 650;
  font-size: 3.5vh;
  margin-bottom: 4vh;
}

#linkedin:hover {
  color: white;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}






