@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

html,
body {
  overflow-x: hidden;
}

body {
  background-color: black;
  color: #F5F5F5; 
  position: relative
}

.everything-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .everything-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.everything {
  max-width: 1110px;
}

.layout {
  width: 100vw;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3em;
  font-family: 'Barlow Semi Condensed';
}

.navbar-link {
  color: #F5F5F5;;
  text-decoration: none;
  font-size: 1.3em;
}

#resume {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;;
  width: 5em;
  height: 1.5em;
  text-align: center;
  border-radius: 1.4em;
}

.resume-link {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
}

#resume:hover {
  background-color: rgb(234, 255, 0);
}

.navbar-link:hover {
  color: rgb(234, 255, 0);
}

.header-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: 'Barlow Semi Condensed';
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {
  .header-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Semi Condensed';
    padding: 2rem;
  }
}

.right-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 2em;
  padding-right: 2em;
}

@media only screen and (max-width: 600px) {
  .right-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1em;
  }
}

.right-links,
#email {
  text-align: center;
}

#email {
  font-size: 1.5em;
  margin: 0;
}


header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2em;
  padding-left: 2em;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
}

.dd {
  margin: 0;
  font-size: 3em;
  font-family: 'Barlow Semi Condensed';
}

.sub-header {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Barlow Semi Condensed';
}

.github {
  text-decoration: none;
  color: white;
  font-size: 3.5em;
  margin-right: 0.25em;
}

.github:hover {
  color: rgb(234, 255, 0);
  text-shadow: 1px 1px .5px #000000;
}

.linkedin {
  text-decoration: none;
  color: white;
  font-size: 3.5em;
  height: 1em;
}

.linkedin:hover {
  color: rgb(234, 255, 0);
  text-shadow: 1px 1px .5px #000000;
}



.footer {
  display: flex;
  justify-content: flex-end;
  color: white;
  height: 3em;
  font-size: 1.2em;
  font-family: 'Barlow Semi Condensed';
  margin-right: 3em;
  margin-top: 1.5em;
}


.main {
  font-family: 'Barlow Semi Condensed';
  text-align: center;
  width: 100vw;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 3em;
}

.page-header {
  font-size: 2.5em;
  margin-top: .5em;
  font-family: 'Barlow Semi Condensed';
}

.skills-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  max-width: 33em;
  height: 22em;
  margin: 2em;
  animation: fadeIn 2s;
}

.skills {
  align-items: center;
  font-size: 4rem;
  width: 5rem;
  height: 8rem;
  margin: .5rem;
}

#django {
  height: 4rem;
  margin-top: .5rem;
}

#mongo {
  height: 4rem;
  margin-top: .6rem;
}

#postgresql {
  height: 4rem;
  margin-top: .6rem;
  margin-left: .4rem;
}

.skill-label {
  font-size: .27em;
}

.django-label {
  font-size: .27em;
  margin-top: .4em;
}

.docker-label {
  font-size: .27em;
  margin-right: .7em;
}

.postgresql-label {
  font-size: .27em;
  margin-top: .4em;
  margin-left: .2rem;
}

.mongo-label {
  font-size: .27em;
  margin-top: .4em;
  margin-left: .4rem;
}

.about-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15em;
  height: 16em;
  margin: 5em;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: normal;
  font-size: 1.5em;
  padding: 20px;
  margin-top: 30px;
  animation: fadeIn 2s;
}

.projects-div {
  margin-top: 3em;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.project-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.painNavigator-div {
  display: flex;
  align-items: center;
  flex-direction: column;
 margin-bottom: 100px;
}

.pn-halves {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  
}

.pn-half-div {
  display: flex;
  flex-direction: column;
 
}

.pn-link-container {
}

.project-imgs-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects {
  height: 16.5em;
  max-width: 30em;
  margin: 1em;
  border: solid black 2px;
  border-radius: 1em;
}

.pn-image {
  height: 500px;
  border: solid black 2px;
  border-radius: 1em;
}

.projects:hover {
  border: solid 2px rgb(234, 255, 0);
}

.project-names {
  margin-top: 1em;
  margin-bottom: .3em;
  font-size: 1.5em;
}
.pn-name {
  margin-top: 1em;
  margin-bottom: 3px;
  font-size: 40px;
}

.created-with {
  font-size: 1.3em;
}
.pn-created-with {
  font-size: 25px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .created-with {
    max-width: 300px;
    word-wrap: wrap;
  }
}

.project-github-link {
  color:#F5F5F5;
  font-size: 3.5em;
  text-align: center;
  border-radius: 2em;
}

.project-github-link:hover {
  color: rgb(234, 255, 0);
}
.pn-github-link:hover {
  color: rgb(234, 255, 0);
}
